Repository miggi92/odata-fw, pull requests merged in 2024-04, with the labels that each got.

#81 feat: updated searchhelps
  .abapgit.xml
  src/z_odata.msag.xml
  src/z_odata_annotations/zcl_odata_annotaion_sap.clas.abap
  src/z_odata_annotations/zcl_odata_annotaion_sap.clas.xml
  src/z_odata_annotations/zcl_odata_annotation_shlp.clas.xml
  src/z_odata_bo/zcl_odata_bo_user.clas.xml
  src/zcl_odata_fw_cust.clas.abap
  src/zcl_odata_fw_cust.clas.xml
  src/zcl_odata_fw_mpc.clas.abap
  src/zcl_odata_fw_mpc.clas.xml
  src/zcl_odata_main.clas.abap
  src/zcl_odata_utils.clas.abap
  src/zcl_odata_utils.clas.xml
  src/zcx_odata.clas.abap
  src/zif_odata_constants.intf.abap
  src/zodata_cust.fugr.xml
  src/zodata_sh.fugr.z_odata_entity_shlp_exit.abap
Labels: enhancement

#86 Feat: search help docs
  docs/.vitepress/config.mts
  docs/documentation/customizing/attachments/fixed_domain_vh.png
  docs/documentation/customizing/attachments/search_help_tree.png
  docs/documentation/customizing/attachments/valuehelp_from_table.png
  docs/documentation/customizing/attachments/valuehelp_from_table_with_where.png
  docs/documentation/customizing/define-searchhelps.md
Labels: documentation

#89 feat: mermaid support
  docs/.vitepress/config.mts
  docs/.vitepress/mermaid-markdown-all.ts
  docs/.vitepress/theme/Mermaid.vue
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/mermaid.ts
Labels: documentation, enhancement
