Repository miggi92/odata-fw, pull requests merged in 2024-07, with the labels that each got.

#116 feat: sadl support & label annotation
  .abapgit.xml
  changelog.txt
  src/z_odata.msag.xml
  src/z_odata_annotations/zcl_odata_annotaion_sap.clas.abap
  src/z_odata_annotations/zcl_odata_annotaion_sap.clas.xml
  src/z_odata_annotations/zcl_odata_annotation_shlp.clas.xml
  src/z_odata_bo/zcl_odata_bo_user.clas.xml
  src/zcl_odata_data_provider.clas.abap
  src/zcl_odata_data_provider.clas.xml
  src/zcl_odata_documents.clas.xml
  src/zcl_odata_error_handler.clas.xml
  src/zcl_odata_fw_controller.clas.abap
  src/zcl_odata_fw_controller.clas.xml
  src/zcl_odata_fw_cust.clas.xml
  src/zcl_odata_fw_cust_dpc.clas.xml
  src/zcl_odata_fw_mpc.clas.abap
  src/zcl_odata_fw_mpc.clas.xml
  src/zcl_odata_main.clas.abap
  src/zcl_odata_main.clas.xml
  src/zcl_odata_utils.clas.xml
  src/zcl_odata_value_help.clas.xml
  src/zcx_odata.clas.xml
  src/zodata_cust.fugr.xml
  src/zodata_entitys.tobj.xml
  src/zodata_namespaces.tobj.xml
  src/zodata_searchhlps.tobj.xml
  src/zodata_sh.fugr.xml
  src/zodata_v_actionsv.tobj.xml
  src/zodata_v_actparav.tobj.xml
  src/zodata_v_entityv.tobj.xml
  src/zodata_v_navv.tobj.xml
  src/zodata_v_proptxtv.tobj.xml
  src/zodata_v_propv.tobj.xml
  src/zodata_vc c.tobj.xml
  src/zodata_vc.vcls.xml
Labels: enhancement

#118 fix: changelog not showing
  CHANGELOG.md
  changelog.txt
Labels: bug

#119 feat: disable free text search in value help
  src/zcl_odata_fw_mpc.clas.abap
Labels: enhancement

#117 Release V1.2.0
  .abapgit.xml
  .github/workflows/deploy_doc.yml
  CHANGELOG.md
  abaplint.json
  changelog.txt
  package.json
  pnpm-lock.yaml
  src/z_odata.msag.xml
  src/z_odata_annotations/zcl_odata_annotaion_sap.clas.abap
  src/z_odata_annotations/zcl_odata_annotaion_sap.clas.xml
  src/zcl_odata_data_provider.clas.abap
  src/zcl_odata_data_provider.clas.xml
  src/zcl_odata_fw_controller.clas.abap
  src/zcl_odata_fw_controller.clas.xml
  src/zcl_odata_fw_mpc.clas.abap
  src/zcl_odata_main.clas.abap
  src/zif_odata_constants.intf.abap
  src/zif_odata_constants.intf.xml
  src/zodata_cust.fugr.xml
  src/zodata_sh.fugr.xml
  src/zodata_v_actions.view.xml
  src/zodata_v_actpara.view.xml
  src/zodata_v_entity.view.xml
  src/zodata_v_nav.view.xml
  src/zodata_v_prop.view.xml
  src/zodata_v_proptxt.view.xml
  src/zodata_vc c.tobj.xml
  src/zodata_vc.vcls.xml
Labels: documentation, enhancement, dependencies, release

#121 V1.2.0
  README.md
  docs/.vitepress/config.mts
  docs/documentation/DPC-boilerplate-code.md
  docs/documentation/sadl/index.md
  docs/index.md
  src/zcl_odata_fw_controller.clas.abap
  src/zcl_odata_fw_sadl.clas.abap
  src/zcl_odata_fw_sadl.clas.xml
  src/zcl_odata_main.clas.abap
  src/zcl_odata_main.clas.xml
  src/zcl_odata_value_help.clas.abap
  src/zcl_odata_value_help.clas.xml
  src/zcl_odata_value_help_dpc.clas.abap
  src/zcl_odata_value_help_dpc.clas.xml
  src/zodata_act_param.tabl.xml
  src/zodata_actions.tabl.xml
  src/zodata_cust.fugr.xml
  src/zodata_entity.tabl.xml
  src/zodata_id_descrption_cmplxtype.tabl.xml
  src/zodata_namespace.tabl.xml
  src/zodata_nav.tabl.xml
  src/zodata_prop_txts.tabl.xml
  src/zodata_property.tabl.xml
  src/zodata_searchhlp.tabl.xml
Labels: release
